<a href="https://colab.research.google.com/github/alvas-education-foundation/Bhargavi_Nichenametla/blob/master/Day_3_session_2_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Finding the factorial of a number

In [ ]:
 
#Python Program to find the factorial of a number using loop. 
n=int(input("Enter number:"))
fact=1
while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:5
Factorial of the number is:
120

 Program for multiples of 2 of a list without list comprehension

In [ ]:
 
x=[1, 2, 3, 4, 5, 6]
result = []
for idx in range(len(x)):
  result.append(x[idx] * 2)
print(result)

[2, 4, 6, 8, 10, 12]

 Single line program of Pythonic coding

In [ ]:
 print([i*2 for i in [1, 2, 3, 4, 5, 6] ])

[2, 4, 6, 8, 10, 12]

 More Pythonic program of 3 lines!

In [ ]:
 
from functools import reduce
sequences = [x for x in range(1,int(input('Enter no'))+1)]
product = reduce(lambda x, y: x*y, sequences)
print(product)

Enter no5
120

 Number and its square as Tuple for a range

In [ ]:
 
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:2
Enter the upper range:20
[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400)]

 More Pythonic program of 2 lines!

In [ ]:
 a=[(x,x**210
) for x in range(int(input("Enter the lower range: ")),\
                           int(input("Enter the upper range:"))+1)]
print(a)

Enter the lower range: 2
Enter the upper range:10
[(2, 1645504557321206042154969182557350504982735865633579863348609024), (3, 15684240429131529254685698284890751184639406145730291592802676915731672495230992603635422093849215049), (4, 2707685248164858261307045101702230179137145581421695874189921465443966120903931272499975005961073806735733604454495675614232576), (5, 607716335728627119838287505251965257870141813351676477841905919413056526761267914178119611633370470405953768511242429894991801120340824127197265625), (6, 25808489104257439733412424058155079804028049842623740234013229191208430978022907872601283334074742618398207939063561001357342943219019245022754546367769548398002176), (7, 2955210376336757580288400247553957780944026580687285745482597147822703075899484568211269420967793722538182128973384834980350726209313927998087090161204627243236032542223856355249), (8, 4455508415646675018204269146191690746966043464109921807206242693261010905477224010259680479802120507596330380442963288389344438204468201170168614570041224793214838549179946240315306828365824), (9, 245995397838803976948892633400797134440833737402360802732640796057844198621986855674970789631998506536808954741967580052770741590244995771757729218506901127909617543714396694702285751406521313448072401), (10, 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000)]

 Finding the perfect squares

In [ ]:
 
from math import *
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
result=[]
for i in sequences:
  if int(sqrt(i))**2==i:
    result.append(i)
print(result)

[4, 0, 9, 16, 1]

 Pythonic program of 3 lines!

In [ ]:
 
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
filtered_result = filter(lambda x: int(sqrt(x))**2==x, sequences) 
print(list(filtered_result))

[4, 0, 9, 16, 1]

Program to find the largest number

In [ ]:
 
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:3
Enter element:1
Enter element:2
Enter element:3
Largest element is: 3

 Pythonic Code

In [ ]:
 
x=0
print('The greatest no is',max([int(input(x)) for _ in range(int(input("Enter no")))]))

Enter no3
5
5
6
The greatest no is 6

 Program to put the even and odd elements in a list into two different lists.

In [ ]:
 
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:3
Enter element:3
Enter element:4
Enter element:5
The even list [4]
The odd list [3, 5]

Pythonic Code

In [ ]:
 
x=0
l=[int(input(x)) for _ in range(int(input("Enter n")))]
print('odd list is',[ i for i in l if i%2])
print('even list is',[i for i in l if not i%2])

Enter n3
3
4
5
odd list is [3, 5]
even list is [4]

 Python Program to merge two lists and sort it.

In [ ]:
 
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:3
Enter element:4
Enter element:5
Enter element:6
Enter number of elements:2
Enter element:12
Enter element:23
Sorted list is: [4, 5, 6, 12, 23]

Pythonic Code

In [ ]:
 
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
m=[int(input(x)) for _ in range(int(input("Enter how many elements ")))]
new=l+m
new.sort()
print("Sorted list is:",new)

Enter how many elements3
22
23
12
Enter how many elements 3
34
56
67
Sorted list is: [12, 22, 23, 34, 56, 67]

In [ ]:
 
#Python Program to sort the list according to the second element in the sublist.
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

Pythonic code

In [ ]:
 
a=[['A',34],['B',21],['C',26],['E',29]]
a.sort(key = lambda x: x[1]) 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

 Program to find second largest number in a list

In [ ]:
 
a=[]
n=int(input("Enter number of elements:"))
for i in range(1, n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:2
Enter element:23
Enter element:45
Second largest number is: 23

 Pythonic Code

In [ ]:
 
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
l.sort()
print("Second largest element is :",l[-2])

Enter how many elements2
43
23
Second largest element is : 23

 Program to create a list of tuples with the first element as number and second element as square of the number

In [ ]:
 
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:2
Enter the upper range:3
[(2, 4), (3, 9)]

 Pythonic Code

In [ ]:
 
a=[(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)]
print(a)

Enter the lower range:2
Enter the upper range:3
[(2, 4), (3, 9)]

 Program to generate random numbers from 1 to 20 and append them to the list.

In [ ]:
 
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:3
Randomised list is:  [12, 18, 20]

Pythonic Code

In [ ]:
 
import random
l=[random.randint(1,20) for _ in range(int(input("Enter how many elements")))]
print('Randomised list is: ',l)

Enter how many elements3
Randomised list is:  [20, 11, 3]

 Program for printing list of values with indexing

In [ ]:
 
names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
index=0
for i in names:
    print(str(index)+":"+i)
    index=index+1

0:Jan
1:Feb
2:Mar
3:Apr
4:May
5:Jun
6:Jul
7:Aug
8:Sep
9:Oct
10:Nov
11:Dec

 using Pythonic way using enumerate()!

In [ ]:
 
names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
for index, value in enumerate(names):
    print(f'{index+1}: {value}')

1: Jan
2: Feb
3: Mar
4: Apr
5: May
6: Jun
7: Jul
8: Aug
9: Sep
10: Oct
11: Nov
12: Dec