<a href="https://colab.research.google.com/github/alvas-education-foundation/Bhargavi_Nichenametla/blob/master/Day_2_Session_1_Lists_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 print multiples of 3 upto 200 using a list

In [ ]:
a=[]
for j in range(3,200):
    if (j%3== 0):
        a.append(j)
print("The multiples of 3 is: ",a)

The multiples of 3 is:  [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

 2. print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [ ]:
a=[]
for i in range(1000,2000):
    if ((i%5==0) & (i%7==0)):
        a.append(i)
print("The no's divisible by 5 and 7 are:",a)

The no's divisible by 5 and 7 are: [1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

 3. Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [ ]:
 my_str = input("Enter a string: ")
 
# breakdown the string into a list of words
words = my_str.split()
 
# sort the list
words.sort()
 
# display the sorted words
 
print("The sorted words are:")
for word in words:
   print(word)
 
#reverse the words in list
words.reverse()
 
#display the reversed words
print("The reverse words are:")
for wor in words:
   print(wor)

Enter a string: my name is bhargavi and i am studying in alvas
The sorted words are:
alvas
am
and
bhargavi
i
in
is
my
name
studying
The reverse words are:
studying
name
my
is
in
i
bhargavi
and
am
alvas

 4. Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [ ]:
 
def squares(a,b):
    ab=[]
    for i in range (a,b):
        j=1
        while j*j <= i:
            if ((j*j == i) & (j%5==0)):
                 ab.append(i)  
            j = j+1
        i = i+1
    return ab
print(squares(500,1000))

[625, 900]

 5.Calculate the Average of  the numbers in a List by getting the elements of list from keyboard .

In [ ]:
 n=int(input("Enter the number of elements to be inserted: "))
a=[]
for i in range(0,n):
    lists=int(input("Enter element: "))
    a.append(lists)
avg=sum(a)/n
print("Average of elements in the list",round(avg,2))

Enter the number of elements to be inserted: 3
Enter element: 1
Enter element: 2
Enter element: 3
Average of elements in the list 2.0

 6. Print lists of odd,even and multiples of 5 numbers from 1 to 1000 using list comprehension

Tuples

 1. Python Program to Create a List of Tuples with the First Element as the Number and Second Element as the Square of the Number

In [ ]:
 t = [ ]
n=int(input("enter the number of tuples:"))
for i in range(0,n):
    e=int(input("Enter the number:"))
    t.append((e, e*e))
print(t)

enter the number of tuples:2
Enter the number:3
Enter the number:5
[(3, 9), (5, 25)]

 2. Write python program to have a list of words  to sort them from  shortest to longest using list of tuples

In [ ]:
 
def sort(tuples):  
    return sorted(tuples, key = lambda x: x[1] ) 
 
a = [('Bharat',45), ('Vamsi', 39), ('Anirudh', 23)] 
 
print("Sorted:"), 
print(sort(a))

Sorted:
[('Anirudh', 23), ('Vamsi', 39), ('Bharat', 45)]

 3.Write python program to get a list of tuples of Rollno,Name for 5 students through keyboard and sort them Rollno wise ascending order

In [ ]:
def Sort_Tuple(tup):  
    lst = len(tup)  
    for i in range(0, lst):  
        for j in range(0, lst-i-1):  
            if (tup[j][1] > tup[j + 1][1]):  
                temp = tup[j]  
                tup[j]= tup[j + 1]  
                tup[j + 1]= temp 
    return tup
tup =[]
num = int(input("Number of students:"))
for i in range(0,num):
     name = input(" Name of student: ")
     rollnum = input("Roll num of the student:")
     tup.append((name,rollnum))
print(Sort_Tuple(tup))

Number of students:5
 Name of student: Abc
Roll num of the student:1
 Name of student: Bvg
Roll num of the student:2
 Name of student: Ert
Roll num of the student:3
 Name of student: Yuh
Roll num of the student:4
 Name of student: Eryh
Roll num of the student:5
[('Abc', '1'), ('Bvg', '2'), ('Ert', '3'), ('Yuh', '4'), ('Eryh', '5')]

 4.Write python program to get a list of tuples of Rollno,Name for 5 students through keyboard and sort them by Rollno wise descending order

In [ ]:
 def Sort_Tuple(tup):  
    lst = len(tup)  
    for i in range(0, lst):  
        for j in range(0, lst-i-1):  
            if (tup[j][1]<tup[j + 1][1]):  
                temp = tup[j]  
                tup[j]= tup[j + 1]  
                tup[j + 1]= temp 
    return tup
tup =[]
num = int(input("Number of students:"))
for i in range(0,num):
     name = input(" Name of student: ")
     rollnum = input("Roll num of the student:")
     tup.append((name,rollnum))
print(Sort_Tuple(tup))

 Write python program to get a list of tuples of Rollno,Name for 5 students through keyboard and sort them by Name wise ascending order

In [ ]:
 def Sort_Tuple(tup):  
    lst = len(tup)  
    for i in range(0, lst):  
        for j in range(0, lst-i-1):  
            if (tup[j][0] > tup[j + 1][0]):  
                temp = tup[j]  
                tup[j]= tup[j + 1]  
                tup[j + 1]= temp 
    return tup
tup =[]
num = int(input("Number of students:"))
for i in range(0,num):
     name = input(" Name of student: ")
     rollnum = input("Roll num of the student:")
     tup.append((name,rollnum))
print(Sort_Tuple(tup))

 Write python program to get a list of tuples of Rollno,Name for 5 students through keyboard and sort them by Name wise descending order

In [ ]:
 def Sort_Tuple(tup):  
    lst = len(tup)  
    for i in range(0, lst):  
        for j in range(0, lst-i-1):  
            if (tup[j][0] < tup[j + 1][0]):  
                temp = tup[j]  
                tup[j]= tup[j + 1]  
                tup[j + 1]= temp 
    return tup
tup =[]
num = int(input("Number of students:"))
for i in range(0,num):
     name = input(" Name of student: ")
     rollnum = input("Roll num of the student:")
     tup.append((name,rollnum))
print(Sort_Tuple(tup))